/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    display: flex;
    font-family: Helvetica, sans-serif;;
}

.toolbox {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 30px;
}

h1 {
    font-weight: 800;
    font-family: Permanent Marker;
}

#box textarea{
    display: flex;
    flex-direction: column;
    width: 153px;
    margin-bottom: 5px;
}

.editable {
    margin-top: 20px;
    width: fit-content;
}

.label-description {
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 6px;
}

.dropdown-btn {
    cursor: pointer;
}

.dropdown-trigger {
    width: 120px;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 120px;
    left: 20px;
    margin-top: -0.37px;
}

.dropdown-trigger:hover > .dropdown-menu {
    display: block;
    border: #FAF7EB solid 2px;
}

.dropdown-menu > li:hover {
    display: block;
    background-color: rgb(98, 102, 135);
    color: white;
}

ul.dropdown-menu {
  list-style: none;
  border-radius: 5px;
  z-index: 3;
  background-color: rgb(148, 152, 191);
}

li {
  padding: 1px;
  font-size: 12px;
  cursor: pointer;
}

#inspiration-search{
    margin-top: 3px;
    margin-bottom: 3px;
}

#inspiration-results {
    display: none;
    margin-top: 10px;
    border: #7F0019 1px solid;
    width: 180px;
    font-size: 14px;
    border-radius: 4px;
}

#inspiration-delete {
    display: none;
}

span.line-through {
    text-decoration: line-through;
}

span.blackout {
    background-color: black;
}

span.invisible {
   opacity: 0
}

.canvas {
    margin-top: 50px;
    margin-left: 80px;
}

.user-container {
    position: relative;
}

#targetText {
    border: 1px rgb(193, 186, 186) solid;
    height: 600px;
    width: 700px;
    border-radius: 5px;
    white-space: pre-wrap;
    cursor: pointer;
    padding: 50px;
    height: 500px; 
    line-height: 1.45;
    
    width: 600px;
       background-image:url('');
    background-size:cover;
    background-position: center;
    position: relative;
    background-color: #FAF7EB;
    font-family: Helvetica;



}

