/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, applet, object, iframe,
h2, h3, h4, h5, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: Gloria Hallelujah;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    font-family: inherit;
    font-size: 11px;
}


body {
    display: flex;
    font-family: Helvetica, sans-serif;;
}

.toolbox {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 30px;
}

h1 {
    font-weight: 800;
    font-family: Permanent Marker;
}

h4 {
    margin-bottom: 20px;
    font-size: 10px;
    color: grey;
    opacity: 0.7;
    margin-top: -15px;
}

#box textarea{
    display: flex;
    flex-direction: column;
    width: 153px;
    margin-bottom: 5px;
}

.editable-container {
    display: inline;
}

#editable-button {
    margin-top: 20px;
    width: fit-content;
}

#erasable-button {
    width: fit-content;
    margin-top: 6px;
}

.erasable-pic-button {
    margin-top: 7px;
    margin-bottom: 10px;
    width: fit-content;
}

.label-description {
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 6px;
}

#color-divider {
    border-top: black 1px solid;
    padding-top: 15px;
}

#dictionary-divider {
    border-top: black 1px solid;
    padding-top: 15px;
}

#eraser-divider {
    border-top: black 1px solid;
    padding-top: 5px;
}

.dropdown-btn {
    cursor: pointer;
}

.dropdown-trigger {
    width: 120px;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 120px;
    left: 20px;
    margin-top: -0.37px;
}

.dropdown-trigger:hover > .dropdown-menu {
    display: block;
    border: #FAF7EB solid 2px;
}

.dropdown-menu > li:hover {
    display: block;
    background-color: rgb(98, 102, 135);
    color: white;
}

ul.dropdown-menu {
  list-style: none;
  border-radius: 5px;
  z-index: 3;
  background-color: #FFFFA5;
}

.dropdown-menu > p {
    padding: 5px;
    font-size: 13px
}

li {
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}

#inspiration-search{
    margin-top: 3px;
    margin-bottom: 3px;
}

#inspiration-results {
    display: none;
    margin-top: 10px;
    border: #7F0019 1px solid;
    width: 180px;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px;
    line-height: 1.6;
}

#inspiration-delete {
    display: none;
}

span.line-through {
    text-decoration: line-through;
}

span.blackout {
    background-color: black;
}

span.invisible {
   opacity: 0
}

span.fade-out {
   color: grey;
   opacity: 0.3;
}

.canvas {
    margin-top: 50px;
    margin-left: 50px;
}

.user-container {
    position: relative;
}

.emily {
    margin-top: 7px;
}

#targetText {
    border: 1px rgb(193, 186, 186) solid;
    height: 500px; 
    width: 700px;
    border-radius: 5px;
    white-space: pre-wrap;
    cursor: pointer;
    padding: 50px;
    height: 500px; 
    line-height: 1.45;
    
    background-image:url('');
    background-size:cover;
    background-position: center;
    position: relative;
    background-color: #FAF7EB;
    font-family: Helvetica;
}

.right-panel {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    width: 300px;
}

.bio-info {
    display: flex;
    margin-top: 23px;
    font-size: 28px;
    margin-left: auto;
}

.bio-info > a {
    color: black;
}

.instructions {
    margin-top: 7px;
    line-height: 1.45;
}

.instructions-header {
    color: rgb(196, 30, 30);
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    font-weight: 800;
}

.instructions-text {
    display: none;
    position: absolute;
    font-weight: 400;
}

.instructions-header:hover > .instructions-text {
    display: block;
    border: #FAF7EB solid 2px;
    color :black;
    border-radius: 3px;
    z-index: 3;
    background-color: #FFFFA5;
    padding: 20px
}

.filters {
    margin-top: 30px;
}

.filters h3 {
    color: rgb(57, 57, 159);
    margin-bottom: 20px;
    font-weight: 800;
}

.filters p {
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

#sonnet, #order {
    display: none;
}